body{
  background-color:grey;
}
a{ 
  color:white;
    text-align : center;
 }  
p{
  color:white;
  text-align : center;
}
h1{
  color:white;
    text-align : center;
}

h2{
  color:white;
    text-align : center;
}
