body{
  background-color:navy;
}
a{ 
  color:white;
    text-align : center;
 }  
p{
  color:white;
  text-align : center;
}
h1{
  color:white;
    text-align : center;
    font-size: 106px; 
}

h2{
  color:white;
    text-align : center;
}
br{ 
  color:white;
}
img{ align : left;
   }
.conteneur-images {
    display: flex;
    justify-content: space-between; /* gauche et droite */
    align-items: center;            /* alignement vertical */
    width: 100%;
}

.conteneur-images img {
    max-width: 45%;
    height: auto;
}
